<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.listing', model: t('activerecord.models.id_card_import_file')) -%></h1>
  <div id="content_list">

    <table class="table table-striped index">
      <thead>
      <tr>
        <th style="width: 30px">Id</th>
        <th><%= t('activerecord.attributes.id_card_import_file.id_card_import_file_name') -%></th>
        <th><%= t('activerecord.attributes.id_card_import_file.edit_mode') -%></th>
        <th><%= t('activerecord.attributes.id_card_import_file.executed_at') -%></th>
        <th><%= t('activerecord.attributes.id_card_import_file.state') -%></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @id_card_import_files.each do |id_card_import_file| %>
        <tr class="line<%= cycle("0", "1") -%>">
          <td><%= link_to (id_card_import_file.id), id_card_import_file -%></td>
          <td>
            <%= link_to id_card_import_file.id_card_import_file_name, id_card_import_file_path(id_card_import_file, format: :download) if id_card_import_file.id_card_import_file_name %>
            <br/>
            <%= t('activerecord.models.user') -%>
            : <%= link_to id_card_import_file.user.username, id_card_import_file.user.profile if id_card_import_file.user.try(:profile) -%>
          </td>
          <td><%= id_card_import_file.edit_mode -%></td>
          <td><%= l(id_card_import_file.executed_at) if id_card_import_file.executed_at -%></td>
          <td><%= localized_state(id_card_import_file.current_state) -%></td>
          <td>
            <%= link_to t('page.show'), id_card_import_file -%>
            <%= link_to t('page.destroy'), id_card_import_file, data: {confirm: t('page.are_you_sure')}, method: :delete -%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate(@id_card_import_files) -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.new', model: t('activerecord.models.id_card_import_file')), new_id_card_import_file_path -%></li>
    <li><%= link_to t('page.listing', model: t('activerecord.models.self_iccard')), self_iccards_path -%></li>
  </ul>
</div>