<% if flash[:notice] %>
  <div style="color:red"><%= flash[:notice] %></div>
<% end %>
<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.listing', model: t('activerecord.models.self_iccard')) -%></h1>
  <div id="content_list">

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.self_iccard.card_id') -%></th>
      <th><%= t('activerecord.attributes.self_iccard.user_name') -%></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @self_iccards.each do |self_iccard| %>
      <tr>
        <td><%= self_iccard.card_id %></td>
        <td><%= self_iccard.user.name %></td>
        <td><%= link_to 'Show', self_iccard %></td>
        <td><%= link_to 'Edit', edit_self_iccard_path(self_iccard) %></td>
        <td><%= link_to 'Destroy', self_iccard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@self_iccards) %>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <%- if policy(SelfIccard).create? -%>
      <li><%= link_to t('page.new', model: t('activerecord.models.self_iccard')), new_self_iccard_path -%></li>
    <%- end -%>
  </ul>
</div>
