<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.showing', model: t('activerecord.models.id_card')) -%></h1>
  <div id="content_list">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t('activerecord.attributes.id_card.card_id') -%>:</strong>
      <%= @self_iccard.card_id %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.self_iccard.user_name') -%>:</strong>
      <%= @self_iccard.user_name %>
    </p>

  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back'), :back -%></li>
    <% if policy(@self_iccard).update? %>
      <li><%= link_to t('page.edit'), edit_id_card_path(@id_card) -%></li>
    <% end %>
    <% if policy(@id_card).destroy? %>
      <li><%= link_to t('page.destroy'), id_cards_path(@id_card), data: {confirm: t('page.are_you_sure')}, method: :delete -%></li>
    <% end %>
  </ul>
</div>